<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAPdl2lnlL-9OCv9Q_8Vs7X1mHcryRQKhg</string>
	<key>GCM_SENDER_ID</key>
	<string>238742498075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.afroreads</string>
	<key>PROJECT_ID</key>
	<string>afroread</string>
	<key>STORAGE_BUCKET</key>
	<string>afroread.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238742498075:ios:ef01fed22a5789f69441be</string>
	<key>DATABASE_URL</key>
	<string>https://afroread-default-rtdb.firebaseio.com</string>
</dict>
</plist>